*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
.active {
    color: #3F9DE9;
    background-color: #92FAFD;
    padding: 10px 20px;
    border-radius: 27px;
}
    
.column5 {
    width: 20%;
    float: left
}
    
.row:after {
    content:none;
    display: table;
    clear: both;
}
  
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
nav .logo{
    width: 190px;
}
    
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
    
nav ul a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 14px 16px;
}

